/* header */
header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
}
.nav-item{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    color: #303134;
    padding: 10px;
    transition: all 500ms linear;
    margin-right: 49px;
}
.nav-item:hover{
    background-color: #303134;
    color: white;
    transition: all 500ms linear;
}
.nav-item:nth-child(4){
    margin-right: 0px;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
}
.nav-ul{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.navigation{
    margin:0px !important;
}

/* section */
.bg-image{
    background-image: url(../images/Banner_Bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.main-title{
    font-family: 'Arial';
    font-size: 78.74px;
    color: #ffffff;
}
.main-text{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}
