/* header */
header{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
}
.nav-item{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    color: #303134;
    padding: 10px;
    transition: all 500ms linear;
    margin-right: 49px;
}
.nav-item:hover{
    background-color: #303134;
    color: white;
    transition: all 500ms linear;
}
.nav-item:nth-child(4){
    margin-right: 0px;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
}
.nav-ul{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.navigation{
    margin:0px !important;
}

/* section */
.bg-image{
    background-image: url(../images/Banner_Bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.main-title{
    font-family: 'Arial';
    font-size: 78.74px;
    color: #ffffff;
}
.main-text{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}
@media (max-width:768px) {
    .main-title{
        font-size: 50px;
        text-align: center;
    }
    .main-text{
        text-align: center;
    }
}
/* card section */
.cards-section{
    margin-top: 98px;
}
.card-box-title{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    color: #8D8D8D;
}
.card-box-subtitle{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 26px;
    color: #1A1A1B;
}
.card-box-subtitle::after{
    content: url(../images/Shape\ 1.svg);
    display: inline-block;
    padding-bottom: 7px;
}
.card-box-text{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    color: #8D8D8D;
    line-height: 20px;
}
.card-block-title{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
    color: #1A1A1B;
}
.card-block-text{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    color: #8D8D8D;
    line-height: 18px;
}
@media (max-width:992px) {
    .card-section-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-container{
        width: 100%;
        justify-content: center !important;
        margin-left: 0px !important;
    }
}
/* video section */
.video-bg{
    background-image: url(../images/video-bg.jpg);
    background-size: cover;
    height: 71vh;
}
.bg-color-overlay{
    background-color: rgba(0, 0, 0, 80%);
    width: 100%;
    height: 100%;
}
.video-box-title{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
.video-box-subtitle{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 26px;
    color: #FFFFFF;
}
.video-box-shape{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%) hue-rotate(96deg) brightness(99%) contrast(104%);;
}
.video-box{
    max-width: 679px;
    width: 100%;
    height: 314px;
}
/* icons section */
.icons-section{
    margin-top: 111px;
}
.icon-card{
    width: 160px;
    height: 138px;
}
.icon-card-title{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 32px;
    color: #1A1A1B;
}
.icon-card-subtitle{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    color: #1A1A1B;
}
@media (max-width:768px) {
    .icons-container{
        padding: 0px 50px;
    }
    .icon-card{
        margin-top: 25px;
    }
    .icon-card:nth-child(1){
        margin-top: 0px;
    }
}
/* offer section */
.offer-section{
    margin-top: 66px;
}
.offer-box-title{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    color:#8D8D8D;
}
.offer-box-subtitle{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 26px;
    color:#1A1A1B;
}
.offer-box{
    width: 267px;
    height: 358px;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(101, 101, 101, 20%);
}
.offer-box-text{
    width: 95px;
    height: 25px;
    background-color: #FED701;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    color: #1A1A1B;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 14px;
    left: 18px;
}
.offer-box h5{
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 500;
    color: #1A1A1B;
}
.offer-box h3{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    color: #4B54FA;
    cursor: pointer;
}
.offer-box-carousel{
    max-width: 863px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    margin-inline: auto;
}
.slider-for-tablet{
    display: none;
}
.slider-for-mobile{
    display: none;
}
@media (max-width:992px) {
    .slider-for-desktop{
        display: none;
    }
    .slider-for-tablet{
        display: block;
    }
    .offer-box-carousel{
        justify-content: space-around;
    }
}
@media (max-width:768px) {
    .slider-for-desktop{
        display: none;
    }
    .slider-for-tablet{
        display: none;
    }
    .slider-for-mobile{
        display: block;
    }
}
.carousel-inner{
    height: 424px !important;
}
/* subscribe section */
.subscribe-section{
    margin-top: 71px;
}
.subscribe-bg{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: top center;
    height: 44vh;
}
.subscribe-title{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 34px;
    color: white;
}
.subscribe-subtitle{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.input-wrapper{
    max-width: 395px;
    width: 100%;
    height: 50px;
    border: 2px solid white;
    background-color: inherit;
    border-radius: 25px;
    outline: none;
    padding: 14px 0px 17px 30px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    color: white;
}
.input-wrapper::placeholder{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    color: white;
}
.btn-wrapper{
    width: 155px;
    height: 50px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: inherit;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-left: 21px;
}
.btn-wrapper:hover{
    background-color: white;
    color:#08AEEA;;
}
@media (max-width:602px) {
    .subscribe-form{
        padding-inline: 25px;
    }
    .btn-wrapper{
        margin-top: 20px;
        margin-left: 0px;
    }
    .subscribe-bg{
        background-position: 40%;
    }

}
/*  */